
<head> 
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<h2> <a href="{% url 'home' %}">Home</a> </h2>

<form method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" name="update" value="Update" />
    <input type="submit" name='delete' value="Delete" />
</form>
<form method = 'POST'>
    {% csrf_token %}
    {{ tag_form }}
    <input type = "submit" name = 'tag' value = 'Add Tag'/>
</form>
<h3>Tags:
    {% for tag in tag_list %}
    {{ tag.name }} |
{% endfor %}
</h3>

<form method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" name="add" value="Add Comment" />
</form>
<ul>
    {% for comment in comment_list %}
        <li> {{ comment.body }}</li>
    {% endfor %}
</ul>
