h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bold;
}
li {
    color: rgb(87, 8, 118);
}
body {
    background:  rgb(170, 209, 238);
}
a:link {
    color: rgb(11, 168, 30);
  }
  a:visited {
    color: rgb(162, 76, 113);
  }